html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
header, footer {
	background-color: #333327;
	display: block;
}
header {
	padding: 10px 0 10px 150px;
}
.container-fluid {
	margin-right: 0;
	margin-left: 0;
	padding-right: 0;
	padding-left: 0;
}
h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
}
h1 {
	font-weight: 600;
	font-size: 1.85em;
	color: #444;
}
h2 {
	font-weight: 600;
	font-size: 1.5em;
	color: #7d7d7d;
}
#online-exp h2 {
	color: #444;
}
h3 {
	font-weight: 600;
	font-size: 1.25em;
	color: #444;
}
#feature {
	background: #f5f5f5 url('../images/feature_img.jpg') no-repeat left top;
	display: block;
	width: 100%;
	height: 400px;
}
#feature-caption {
	background-color: rgba(26, 26, 26, 0.8);
	font-family: Arial, sans-serif;
	display: inline-block;
}
#feature-caption p {
	color: white;
	font-size: 1.125em;
}
#feature-caption p:first-child {
	font-size: 1.4em;
	font-weight: bold;
}
#feature-caption p span {
	font-style: italic;
	font-weight: bold;
}
#body-text p, div.aof p {
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #7d7d7d;
}
#body-text {
	margin-bottom: 52px;
}
form {
	background-color: #33301f;
	width: 320px;
	padding: 25px 20px;
}
form legend, form label, form button {
	font-family: 'Francois One', sans-serif;
	font-weight: ;
	color: white;
}
form legend {
	font-size: 1.125em;
	padding-bottom: 25px;
}
form label {
	font-size: 0.7em;
}
form p {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 0.625em;
	color: white;
}
form input, select {
	display: block;
	margin: 2px 0 13px 0;
	width: 100%;
	height: 33px;
}
select {
	-webkit-appearance: menulist-button;
}
form button {
	background-color: #c64e12;
	font-size: 0.875em;
	margin-top: 12px;
}
/*#area-focus {
	padding-bottom: 60px;
}*/
#aof-head{
	background: url('../images/divider.png') repeat-x left center;
	width: 85%;
	margin: 0 auto;
	text-align: center;
}
#aof-head h2 {
	text-transform: uppercase;
	text-align: center;
	/*margin: 0 auto 58px;*/
	padding: 0 30px;
	background-color: #fff;
	display: inline-block;
}
/*hr {
	width: 85%;
	height: 2px;
	color: #ccc;
	z-index: 0;
	position: relative;
	margin: 0 0 -10px;
}*/
#area-focus-columns {
	text-align: center;
	margin: 58px auto 0;
	padding: 0 5% 60px;
	background-color: #d4d4d4;
	display: block;
	width: 100%;
}
.aof {
	padding: 0 70px;
	/*width: 25%;*/
	/*max-width: 243px;*/
	display: inline-block;
}
.aof img {
	margin-top: -30px;
	padding: 17px;
	background-color: #d4d4d4;
	border-radius: 80px;
}
.aof h3 {
	margin: 0 0 10px;
}
.aof p {
	text-align: left;
	line-height: 21.875px;
}
#online-exp {
	background-color: #b1b1b1;
}
.flexslider {
	width: 75%;
	margin: 0 auto;
}
.flex-viewport {
	overflow: hidden;
	position: relative;
}
.slides {
	width: 454px;
}
footer {
	padding: 45px 0 60px;
	font-size: 0.625em;
	font-family: Arial, sans-serif;
	color: #767676;
	text-align: center;
}
footer p:first-child {
	letter-spacing: 0.06em;
}
/*footer p:last-child {
	margin-bottom: 15px;
}*/
footer p:nth-child(n+3):nth-child(-n+5) {
	margin: 0 auto;
}
footer p:nth-child(6) {
	margin-bottom: 15px;
}
footer p {
	margin: 0 auto 20px;
	text-align: center;
	letter-spacing: 0px;
	width: 75%;
}
footer a {
	text-decoration: underline;
	color: #f16020;
}
