html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
body, html {
	font-size: 16px;
}
header, footer {
	background-color: #333327;
	display: block;
}
header {
	padding: 10px 0 10px 15%;
}
.container-fluid {
	position: relative;
	max-width: 1220px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 0;
	padding-left: 0;
}
h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
}
h1 {
	font-weight: 600;
	font-size: 1.85em;
	color: #444;
}
h2 {
	font-weight: 600;
	font-size: 1.5em;
	color: #7d7d7d;
}
#online-exp h2 {
	color: #444;
}
h3 {
	font-weight: 600;
	font-size: 1.25em;
	color: #444;
}
#feature img {
	visibility: hidden;
}
#feature {
	background: #fff url('../images/feature_img.jpg') no-repeat left top;
	background-size: 100% auto;
	display: block;
	padding-top: 32.78688%;
}
#feature-caption {
	position: absolute;
	left: 13%;
	bottom: 20px;
	padding: 15px 30px;
	background-color: rgba(26, 26, 26, 0.8);
	font-family: Arial, sans-serif;
	display: inline-block;
}
#feature-caption p {
	color: white;
	font-size: 1.125em;
}
#feature-caption p:first-child {
	font-size: 1.4em;
	font-weight: bold;
}
#feature-caption p span {
	font-style: italic;
	font-weight: bold;
}
#main p, div.aof p {
	font-family: Arial, sans-serif;
	font-size: 0.875em;
	color: #7d7d7d;
}
#main {
	width: 75%;
	margin: 0 auto 35px;
}
#main h1 {
	max-width: 38%;
	line-height: 1.2;
	margin: 35px 0 15px;
}
#body-text {
	padding: 0;
	max-width: 57%;
}
#body-text p {
	margin-bottom: 15px;
}
form {
	background-color: #33301f;
	width: 320px;
	padding: 25px 20px;
	position: absolute;
	top: 80px;
	right: 10%;
}
form h5, form label, form button {
	font-family: 'Francois One', sans-serif;
	
	color: white;
}
form h5 {
	line-height: 1;
	font-size: 1.125em;
	padding-bottom: 15px;
	font-weight: lighter;
}
form label {
	font-size: 0.7em;
}
form p {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 0.625em;
	color: white;
}
form input, select {
	display: block;
	margin: 2px 0 6px 0;
	width: 100%;
	height: 33px;
}
select {
	-webkit-appearance: menulist-button;
	border-radius: 0;
}
form button {
	width: 100%;
	text-transform: uppercase;
	background-color: #c64e12;
	font-size: 0.875em;
	margin: 12px 0 25px;
	padding: 8px;
	border: none;
	line-height: 1.333333;
}
#aof-head {
	background: url('../images/divider.png') repeat-x left center;
	width: 75%;
	margin: 0 auto;
	text-align: center;
}
#aof-head h2 {
	text-transform: uppercase;
	text-align: center;
	padding: 0 30px;
	background-color: #fff;
	display: inline-block;
}
#aof-wrap {
	background-color: #d4d4d4;
	margin: 58px auto 0;
	padding-bottom: 50px;
	width: 100%;
	text-align: center;
}
#area-focus-columns {
	text-align: center;
	background-color: #d4d4d4;
	display: inline-block;
	width: 75%;
}
.aof {
	margin: 0 auto;
	padding: 0 30px;
	width: 33%;
	float: left;
	/*max-width: 243px;*/
	display: inline-block;
}
.aof img {
	margin-top: -30px;
	padding: 17px;
	background-color: #d4d4d4;
	border-radius: 80px;
}
.aof h3 {
	margin: -10px 0 10px;
}
.aof p {
	text-align: left;
	line-height: 21.875px;
}
#online-exp, .flexslider {
	background-color: #b1b1b1;
}
#online-exp {
	padding: 10px 0 60px;
}
.flexslider {
	width: 75%;
	margin: 0 auto;
	border: none;
	box-shadow: none;
}
.flexslider .slides > li > div {
	width: 90%;
}
.flex-direction-nav a {
	opacity: 1.0;
	height: 72px;
	width: 30px;
	margin-top: -40px;
}
.flex-direction-nav a:before {
	visibility: hidden;
}
.flex-direction-nav .flex-prev {
	background: url(../images/prev.png); 
	left: -30px; 
}
.flex-direction-nav .flex-next { 
	background: url(../images/next.png);
	text-align: right; 
}
.flexslider:hover .flex-prev { 
	opacity: 1.0;
}
.flexslider:hover .flex-next { 
	opacity: 1.0;
}
.flex-control-nav {
	bottom: -30px;
}

.flex-control-paging li a {
	height: 10px;
	width: 10px;
	background: #fff;
}
.flex-control-paging li a:hover{
	background: #595959;
}

.flex-control-paging li a.flex-active {
	background: #595959;
}
#online-exp h2 {
	line-height: 1.25;
}
#online-exp h3 {
	color: #fff;
	font-size: 1.125em;
	text-transform: uppercase;
	line-height: 2.389;
}
#online-exp p {
	color: #595959;
	line-height: 2em;
}
footer {
	padding: 45px 0 60px;
	font-size: 0.625em;
	font-family: Arial, sans-serif;
	color: #767676;
	text-align: center;
}
footer p:first-child {
	letter-spacing: 0.06em;
}
footer .last {
	margin-bottom: 15px;
}
footer p:nth-child(n+3):nth-child(-n+5) {
	margin: 0 auto;
}
footer p {
	margin: 0 auto 10px;
	line-height: 12px;
	text-align: center;
	letter-spacing: 0px;
	width: 75%;
}
footer a {
	text-decoration: underline;
	color: #f16020;
}
@media all and (max-width: 920px) {
	#feature-caption {
		bottom: 15px;
		left: 15px;
		padding: 10px 15px;
	}
	#area-focus-columns {
		width: 100%;
	}
	#online-exp {
		padding: 20px 35px;
	}
	form {
		position: relative;
		width: 100%;
		padding: 20px 10% 0;
		top: 0;
		left: 0;
	}
	form h5, form button {
		text-align: center;
	}
	form button {
		float: none;
		width: 25%;
		margin: 20px 40%;
	}
	#main h1, #body-text {
		width: 100%;
		max-width: none;
	}
}
@media all and (max-width: 750px) {
	header {
		padding-left: 15px;
	}
	#main {
		width: 100%;
	}
	#aof-head {
		width: 100%;
	}
	#aof-wrap {
		margin-top: 20px;
	}
	#area-focus-columns {
		padding-top: 20px;
	}
	.aof {
		display: block;
		width: 100%;
	}
	.aof img, .aof h3 {
		margin: 0px;
	}
	.aof img {
		float: left;
	}
	.aof h3 {
		text-align: left;
	}
	#main h1, #body-text {
		margin: 15px;
	}
	.flexslider .slides li:nth-child(even) > div{
		text-align: center;
	}
	.flex-direction-nav .flex-prev {
		left: -50px;
	}
	.flex-direction-nav .flex-next {
		right: -50px;
	}
}